<!DOCTYPE html>
<html>

<head>
    <title>Cijenik svega</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

<body class="content">

    <header>
        <nav>
            <div class="menu">
                <a href="/" class="link menu-item <%if (linkActive === "home") {%>  link-active  <%}%>">Home</a>
                <a href="/signup" class="link menu-item <%if (linkActive === "signup") {%>  link-active  <%}%>">signup</a>
                    <% if( user !== undefined ) {%> 
                    <a href="/user" class="link menu-item <%if (linkActive === "user") {%>  link-active  <%}%>">User</a>
                    <a href="/logout" class="link menu-item <%if (linkActive === "logout") {%>  link-active  <%}%>">Logout</a>
                    <% } else {%>
                    <a href="/login" class="link menu-item <%if (linkActive === "login") {%>  link-active  <%}%>">Login</a>
					<a href="/prices" class="link menu-item <%if (linkActive === "prices") {%>  link-active  <%}%>"> Nastavi Bez Registracije</a>
					<% } %>
            </div>
        </nav>
    </header>

<main class="main">

</main>



</body>

</html>
