.sold-out{
    margin: 7.5rem auto;
    font-size: 1.5rem;
    text-align: center;
}

.sold-out-link{
    color: #1190cb;
    text-decoration: none;
    text-align: center;
}

.sold-out-link:hover{
    text-decoration: underline;
}

.containers{
    margin: 6rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    border: 2.5px solid #1190cb;
    border-radius: 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

.half-width{
    width: 20%;
}

.container-items{
    padding: 1rem;
}

.container-header{
    margin-top: 2rem;
    text-align: center;
}

.container-li{
    font-size: 1.2rem;
}

.li-link {
    color: #1190cb;
    text-decoration: none;
    margin-bottom: 1rem;
}

.li-link:hover{
    text-decoration: underline;
}

.container-tag-text{
    margin: 0 1rem;
    border: none;
    border-bottom: 1px solid black;
}

.container-tag-btn{
    cursor: pointer;
}

.container-tags{
    display: flex;
    flex-direction: column;
}