body {
    background: url("../images/background.jpg");
}

.link{
    color: white !important;
}

.container{
    background-color: white;
    margin: 5rem auto;
    border-radius: 2rem;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.container-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-left > img {
    margin: 2rem auto;  
}

.container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.container-right-btn:hover{
    cursor: pointer;
}

.container-right-reg{
    color: #1190cb;
    text-decoration: none;
}

.container-right-reg:hover{
    text-decoration: underline;
}

.error{
    padding: 1rem 0;
    color: red
}